@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Kdam+Thmor+Pro&family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #050801;
    width: 100%;
    min-height: 100vh;
    font-size: 100%;
    overflow: auto;
    position: relative;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contact .contact-content {
    max-width: 800px;
    text-align: center;
}

.container-wrapper {
    display: flex;
    justify-content: space-between;
}

.contact .contact-content .contact-content-header {
    font-family: 'Courier Prime', monospace;
    font-size: 58px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 48px;
    border-bottom: 3.4px solid #d4b32b;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20vh;
}

.container .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    
}

.container .contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contact-info .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contact-info .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
    align-self: center;
}

.container .contact-info .box .text .contact-info-header {
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.container .contact-info .box .text p {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Courier Prime', monospace;
}

.contact-form {
    width: 40vw;
    height: 40vh;
    padding: 0 40px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-form h2 {
    font-size: 30px;
    color: #000;
    font-weight: 500;
    text-align: center;
    font-family: 'Courier Prime', monospace;
    padding-bottom: 30px;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input, 
.contact-form .input-box textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    resize: none;
    background: #fff;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus~ span, 
.contact-form .input-box input:valid~ span,
.contact-form .input-box textarea:focus~ span, 
.contact-form .input-box textarea:valid~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translate(0, -20px);
}

.contact-form .input-box input[type="submit"] {
    width: 100%;
    background: #d4b32b;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    font-family: 'Courier Prime', monospace;
}

@media (max-width: 991px) {
    .contact .contact-content .contact-content-header {
        font-size: 2.5rem;
        border-bottom: 3.4px solid #d4b32b;
        margin-top: 4rem;
        margin-bottom: 0;
    }
    .contact {
        padding: 50px;
    }

    .contact-form {
        margin-top: -10rem;
        margin-bottom: 5rem;
        width: 100%;
    }

    .container {
        flex-direction: column;
        gap: -2.5vh;
        justify-content: center;
        align-items: center;
    }

    .container-wrapper {
        padding: -20px 0;
    }

    .container .contact-info {
        margin-bottom: 40px;
    }

    .container .contact-info,
    .contact-form {
        width: 100%;
    }
}
