@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Kdam+Thmor+Pro&family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-size: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #050801;
}

.contact {
    position: relative;
    width: 100%;
    min-height: auto;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .contact-content {
    max-width: 800px;
    text-align: center;
}

.contact .contact-content .contact-content-header {
    font-family: 'Courier Prime', monospace;
    font-size: 58px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 48px;
    border-bottom: 3.4px solid #d4b32b;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column-reverse;
    
}

.container .contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.borders:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: top-animation 1s linear infinite;
}

@keyframes top-animation {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.borders:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: right-animation 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes right-animation {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.borders:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: bottom-animation 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes bottom-animation {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.borders:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: left-animation 1s linear infinite;
    animation-delay: 0.75s;
}

@keyframes left-animation {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}

.container .contact-info .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contact-info .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
    align-self: center;
}

.container .contact-info .box .text .contact-info-header {
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.container .contact-info .box .text p {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Courier Prime', monospace;
}

.contact-form {
    width: 40%;
    padding: 40px;
    background: #fff;
    border-radius: 20px;
}

.contact-form h2 {
    font-size: 30px;
    color: #000;
    font-weight: 500;
    text-align: center;
    font-family: 'Courier Prime', monospace;
    padding-bottom: 30px;
}

.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input, 
.contact-form .input-box textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    resize: none;
    background: #fff;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus~ span, 
.contact-form .input-box input:valid~ span,
.contact-form .input-box textarea:focus~ span, 
.contact-form .input-box textarea:valid~ span
{
    color: #e91e63;
    font-size: 12px;
    transform: translate(0, -20px);
}

.contact-form .input-box input[type="submit"] {
    width: 100%;
    background: #d4b32b;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    font-family: 'Courier Prime', monospace;
}

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contact-info {
        margin-bottom: 40px;
    }

    .container .contact-info,
    .contact-form {
        width: 100%;
    }
}
