@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    font-size: 100%;
    padding-bottom: 48px;
    padding-top: 11vh;
    overflow: auto;
    position: relative;
    background: #050801;
}

.project-header {
    font-size: 3rem;
    color: white;
    text-align: center;
}

.wrapper {
    padding: 5vh 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.project-container {
    background-color: white;
    border: 0.2rem solid gray;
}

.project-container:hover {
    transform: translateY(-0.5rem);
    border: 0.2rem solid #008000;
}

.project-image {
    width: 17rem;
    height: 17rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.one {
    background-image: url("/images/wordfx.png");
}

.two {
    background-image: url("/images/vehicle-detection.png");
}

.three {
    background-image: url("/images/maze-pathfinding.png");
}

.four {
    background-image: url("/images/DAMNED-project.png");
}

.five {
    background-image: url("/images/reaction-timer.png");
}

.project-description-container {
    padding-top: 1rem;
    background-color: white;
    width: 17rem;
    min-height: 10rem;
    text-align: center;
    padding-bottom: 1rem;
}

.project-description-header {
    text-align: center;
}

.project-button {
    color: #050801;
    /* display: inline-block;
    align-self: flex-end; */
}

.project-button:hover {
    cursor: pointer;
    text-decoration: underline;
    color: red;
}











/* .project-description {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-description:nth-of-type(2) {
    background-image: url("/images/wordfx.png");
}

.project-description:nth-of-type(3) {
    background-image: url("/images/vehicle-detection.png");
}

.project-description:nth-of-type(4) {
    background-image: url("/images/maze-pathfinding.png");
}

.project-description:nth-of-type(5) {
    background-image: url("/images/DAMNED-project.png");
}

.project-name {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier Prime', monospace;
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    padding: 16px;
    background: black;
    opacity: 0.7;
    border-radius: 20px;
    box-shadow: inset 0 0 0 0 #d4b32b;
    transition: ease-out 0.3s;
}

.project-name:hover {
    box-shadow: inset 12em 0 0 0 #d4b32b;
    cursor: pointer;
    color: #000;
}

.modal_container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.modal_container.show {
    pointer-events: auto;
    opacity: 1;
}

.project-modal {
    background-color: #121213;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Courier Prime', monospace;
    color: #fff;
}

.project-aspects {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-modal-header {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.project-aspect-header {
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    color: #121213;
    padding: 4px;
}

.close-button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: #fff;
}

p {
    display: flex;
    justify-content: flex-start;
} */





