@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.footer-content-left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-content {
    display: flex;
    bottom: 0;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    padding: 0 2%;
    background-color: #050801;
    background-blend-mode: multiply,multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    clear: both;
    padding: 16px;
}

.footer-content-left {
    display: flex;
    gap: 10px;
}

.footer-content-right {
    width: 2rem;
    height: 3.5vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    font-size: 13px;
    transition: 0.7s;
    border-width: 0;
}

.footer-content-right::after {
    transition-delay: 0.7s;
}

.footer-content-right:hover {
    font-size: 0;
    content: "Contact Me";
    font-size: 13px;
    font-family: 'Courier Prime', monospace;
    width: 6rem;
    cursor: pointer;
}

#footer-social {
    font-size: 20px;
    color: #fff;
}

#footer-social:hover {
    text-shadow:
    -0.2rem -0.2rem 1rem #fff,
    0.2rem 0.2rem 1rem #fff,
    0 0 2rem #f40,
    0 0 4rem #f40,
    0 0 6rem #f40,
    0 0 8rem #f40,
    0 0 10rem #f40;
}

@media (max-width: 960px) {
    .footer-content {
        display: flex;
        justify-content: space-between;
    }

    .footer-content-right {
        font-size: 0px;
        content: "Contact Me";
        font-size: 13px;
    }
}