@import url('https://fonts.googleapis.com/css2?family=Georama:wght@200;400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Courier Prime', monospace;
}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    top: 0;
    position: absolute;
    width: 100%;
    background-color: #050801;
}

.header-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-left-logo {
    height: 72px;
}

.header-left-my-name {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.header-left-my-name:hover {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.header-menu {
    display: flex;
    gap: 16px;
}

.header-menu-item {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    padding: 6px 15px;
    position: relative;
}

.header-menu-header {
    display: none;
}

.header-menu-item:hover {
    color: #fff;
    text-shadow: 0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px #5271ff,
    0 0 73px #5271ff,
    0 0 80px #5271ff,
    0 0 94px #5271ff,
    0 0 140px #5271ff;
}

label {
    display: none;
}

#check {
    z-index: 3;
}

.checkbox {
    display: none;
}

@media (max-width: 960px) {
    .page-header {
        display: flex;
        justify-content: space-around;
    }
    .header-menu {
        display: none;
    }

    label {
        color: #fff;
        display: block;
        font-size: 25px;
        transition: 0.3s;
        transition-property: color;
    }

    label:hover {
        color: #fff;
        cursor: pointer;
    }

    label .close-btn {
        display: none;
    }

    #check:checked ~ .header-menu {
        z-index: 2;
        position: fixed;
        background: #121213;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-menu-item {
        font-size: 3rem;
    }

    #check:checked ~ label .menu-btn{
        display: none;
    }

    #check:checked ~ label .close-btn{
        z-index: 2;
        display: block;
        padding-right: 10px;
        position: fixed;
    }

    .header-left-my-name {
        color: #fff;
        text-shadow: none;
    }

    .header-menu-item:hover {
        color: #fff;
        text-shadow: none;
    }

    .header-menu-header {
        display: block;
        color: #fff;
        text-align: center;
        justify-content: center;
        font-size: 1.1rem;
        /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    }
}