@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    z-index: 10;
}

.page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    top: 0;
    position: absolute;
    width: 100%;
    background-color: #050801;
}

.header-left {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-left-logo {
    height: 72px;
}

.header-left-my-name {
    font-family: 'Courier Prime', monospace;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.header-left-my-name:hover {
    color: #fff;
    text-shadow:       0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.header-menu {
    display: flex;
    gap: 16px;
}

.header-menu-item {
    font-family: 'Courier Prime', monospace;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    padding: 6px 15px;
    position: relative;
}

.header-menu-item:hover {
    color: #fff;
    text-shadow: 0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px #5271ff,
    0 0 73px #5271ff,
    0 0 80px #5271ff,
    0 0 94px #5271ff,
    0 0 140px #5271ff;
}